@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.onHoverAnimation {
  @apply transition delay-150 duration-300 ease-in-out;
}
